body {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: #101F22;
    color: #FBDDC6;
}

main {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(20, 148px);
    grid-template-rows: repeat(3, 197px);
    gap: 10px;
}

main>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: auto;
    height: 100%;
    border-radius: 5%;
}

.imagen1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
}